# --- For-Bot-Working --------- #
pyrofork
TgCrypto
pyromod==1.5
python-dotenv
# --- For-Database ------------ #
pymongo
motor
umongo
marshmallow
dnspython
https://github.com/Tinche/aiofiles
# --- For-Web-Response ------- #
pytz
requests
bs4
shortzy
aiohttp
aiofiles
asyncio
